.banner {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.banner-img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;



    .banner-gray {
        background: black;
        height: 400px;
        position: absolute;
        opacity: 0.4;
        z-index: 2;
        border-radius: 10px;
    }

    .img {
        height: 400px;
        z-index: 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .title-banner {
        position: absolute;
        z-index: 3;
        top: 30%;
        margin-right: 40%;
        color: white;

        h2 {
            font-size: 2.4em;
            font-weight: bold;

        }

        p {
            color: white;
            font-size: 0.8rem;
        }
    }
}



.about {
    width: 80%;
    margin: auto;

    margin-top: 50px;

    .about-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;


        .about-img {
            height: 400px;
            object-fit: cover;
        }

        .content {
            width: 50%;

            h2 {
                font-size: 2rem;
                font-weight: bold;

            }

            p {
                font-size: 1rem;
                padding-top: 10px;
            }
        }
    }
}


@media(max-width: 1000px) {
    .banner-img {
        .banner-gray {
            height: 300px;
        }

        .img {
            height: 300px;
            border-radius: 0px;
        }

        .title-banner {
            top: 20%;
            margin-right: 40%;

            h2 {
                font-size: 2.1em;
                font-weight: bold;
            }

            p {
                color: white;
                font-size: 1.2rem;
            }
        }


    }


    .about {
        width: 90%;
        margin: auto;
        margin-top: 50px;

        .about-content {
            margin: auto;
            justify-content: center;

            .about-img {
                height: 300px;
                object-fit: cover;
            }

            .content {
                width: 80%;
                margin-top: 10px;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }
        }
    }

}

@media(max-width: 500px) {
    .banner-img {
        .banner-gray {
            height: 200px;
            border-radius: 0px;
        }

        .img {
            height: 200px;
            border-radius: 0px;
        }

        .title-banner {
            margin-right: 30%;

            h2 {
                font-size: 1.3em;
                font-weight: bold;
            }

            p {
                color: white;
                font-size: 0.6rem;
            }
        }


    }


    .about {
        width: 90%;
        margin: auto;
        margin-top: 50px;

        .about-content {


            .about-img {
                height: 300px;
                object-fit: cover;
            }

            .content {
                width: 80%;
                margin-top: 10px;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }
        }
    }
}