.banner {
    width: 100%;


}

.banner-img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;


    .banner-gray {
        background: black;
        height: 400px;
        position: absolute;
        opacity: 0.4;
        z-index: 2;
        border-radius: 10px;
    }

    .img {
        height: 400px;
        z-index: 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .title-banner {
        position: absolute;
        z-index: 3;
        top: 30%;
        margin-right: 40%;
        color: white;

        h2 {
            font-size: 2.4em;
            font-weight: bold;

        }

        p {
            color: white;
            font-size: 0.8rem;
        }
    }
}

.products {
    width: 100%;
    margin-top: 50px;

    .title {

        h2 {
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 0.8rem;
        }
    }

    .product-item {
        display: flex;
        gap: 10px;
        justify-items: center;
        justify-content: center;
        margin-top: 10px;

        .item {
            cursor: pointer;
            text-align: center;
            border-radius: 10px;

            .item-img {
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
                // border-radius: 10px 10px 0px 0px;
            }

            h2 {
                font-size: 1.3rem;
                height: 30px;
                line-height: 30px;
                font-weight: bold;
            }

            p {
                color: #226D2A;
                font-weight: 600;
            }

            .star {
                display: flex;
                gap: 5px;
                justify-content: center;
                height: 30px;
                align-items: center;

                .icon-star {
                    color: darkorange;
                }
            }
        }
    }
}

.about {
    width: 80%;
    margin: auto;

    margin-top: 50px;

    .about-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;


        .about-img {
            height: 400px;
            object-fit: cover;
        }

        .content {
            width: 50%;

            h2 {
                font-size: 2rem;
                font-weight: bold;

            }

            p {
                font-size: 1rem;
                padding-top: 10px;
            }
        }
    }
}

.content-bot {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    border-top: 1px solid lightgrey;
    padding: 20px;

    .cont-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .cont-icon {
                width: 50px;
                height: 50px;
            }

            p {
                width: 70%;

            }
        }
    }
}

@media(max-width: 1000px) {
    .banner-img {
        .banner-gray {
            height: 300px;
        }

        .img {
            height: 300px;
            border-radius: 0px;
        }

        .title-banner {
            top: 20%;
            margin-right: 40%;

            h2 {
                font-size: 2.1em;
                font-weight: bold;
            }

            p {
                color: white;
                font-size: 1.2rem;
            }
        }


    }

    .products {
        .product-item {
            display: grid;
            grid-template-columns: 48% 48%;

            .item {
                gap: 10px;

                h2 {
                    text-align: center;
                    font-size: 1rem;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }

                .item-img {

                    height: 200px
                }

                .star {
                    height: 20px;
                }

                p {
                    font-size: 0.8rem;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .about {
        width: 90%;
        margin: auto;
        margin-top: 50px;

        .about-content {
            margin: auto;
            justify-content: center;

            .about-img {
                height: 300px;
                object-fit: cover;
            }

            .content {
                width: 80%;
                margin-top: 10px;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }
        }
    }

    .content-bot {
        width: 100%;


        .cont-ul {


            li {

                gap: 5px;

                .cont-icon {
                    width: 25px;
                    height: 25px;
                }

                p {
                    width: 200px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .banner-img {
        .banner-gray {
            height: 200px;
            border-radius: 0px;
        }

        .img {
            height: 200px;
            border-radius: 0px;
        }

        .title-banner {
            margin-right: 30%;

            h2 {
                font-size: 1.3em;
                font-weight: bold;
            }

            p {
                color: white;
                font-size: 0.6rem;
            }
        }


    }

    .products {
        margin-top: 10px;

        .product-item {
            display: grid;
            grid-template-columns: 48% 48%;

            .item {

                h2 {
                    font-size: 1rem;
                    width: 90%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }

                .item-img {
                    height: 150px
                }

                .star {
                    height: 20px;
                }

                p {
                    font-size: 0.8rem;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .about {
        width: 90%;
        margin: auto;
        margin-top: 50px;

        .about-content {


            .about-img {
                height: 300px;
                object-fit: cover;
            }

            .content {
                width: 80%;
                margin-top: 10px;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }
        }
    }
}