.container {
    background-color: #FFF8E3;
    color: #002264;
    width: 100vw;
    height: 100vh;

    .contents {
        width: 100%;
        background: #FFF8E3;
        margin-top: 10px;
        padding-bottom: 10px;
    }
}