@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-background: #FFF8E3,
    --primary-color: #226D2A,
    --background-cream-pink: #F3D7CA,
    --background-light-gray: #CCD3CA,
    --text-color-primary: #002264,
    --text-color-white: #FFFFFF,
    --text-sub-color: #A2A7A5
}

* {
  margin: 0;
  padding: 0;
}

a,
p {
  color: black;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #002264;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}