.product-all {
    margin-top: 100px;
    width: 90%;
    margin: auto;
    color: black;

    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        height: 50px;
        line-height: 50px;
    }

    .slide-show {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .slide-img {
            width: 40%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 20px;
            // justify-items: center;

            .img-main {
                width: 440px;
                object-fit: cover;
            }

            .list-img {
                width: 100%;
                display: flex;
                gap: 10px;

                img {
                    width: 100px;
                    height: 100px;
                    cursor: pointer;
                }
            }
        }

        .slide-title {
            width: 50%;

            h2 {
                font-size: 2rem;
            }

            p {
                color: gray;
                font-size: 0.8rem;
            }

            .star-icon {
                width: 100%;
                padding: 10px;
                display: flex;
                gap: 5px;

                .icon {
                    color: #FC8800;
                    width: 20px;
                    height: 20px;
                }
            }

            .price {
                display: flex;
                gap: 10px;
                height: 50px;
                line-height: 50px;

                p {
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }

            p {
                font-size: 1rem;
            }

            .lienhe {
                margin-top: 30px;
                font-size: large;
                width: 150px;
                height: 50px;
                background: green;
                color: white;
            }
        }


    }

}

.detail-main {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    .detail-title {
        text-align: center;

        h2 {
            text-align: center;
            height: 40px;
            font-size: 1.5rem;
        }

        p {
            font-size: 0.9rem;
            color: gray;
        }

    }

    .detail-hed {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        p {
            width: 400px;
        }
    }

    .detail-img {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;

        img {
            height: 300px;
            object-fit: cover;
        }
    }
}


.content-bot {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    border-top: 1px solid lightgrey;
    padding: 20px;

    .cont-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .cont-icon {
                width: 50px;
                height: 50px;
            }

            p {
                width: 50%;

            }
        }
    }
}

@media(max-width: 1000px) {
    .product-all {
        .product-item {
            .pro-item {
                width: 300px;

                .img-product {
                    height: 180px;
                    object-fit: cover;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .product-all {
        .product-item {
            .pro-item {
                width: 90%;

                .img-product {
                    height: 140px;
                    object-fit: cover;
                }
            }
        }
    }
}